bin/Debug/Telegram-Apps.Blazor.1.0.0.nupkg
bin/Debug/net7.0/Telegram-Apps.Blazor.deps.json
bin/Debug/net7.0/Telegram-Apps.Blazor.dll
bin/Debug/net7.0/Telegram-Apps.Blazor.pdb
bin/Debug/net7.0/Telegram-Apps.Blazor.staticwebassets.endpoints.json
bin/Debug/net7.0/Telegram-Apps.Blazor.staticwebassets.runtime.json
obj/project.assets.json
obj/project.nuget.cache
obj/Telegram-Apps.Blazor.csproj.nuget.dgspec.json
obj/Telegram-Apps.Blazor.csproj.nuget.g.props
obj/Telegram-Apps.Blazor.csproj.nuget.g.targets
obj/Debug/Telegram-Apps.Blazor.1.0.0.nuspec
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/rjimswa.dswa.cache.json
obj/Debug/net7.0/rjsmcshtml.dswa.cache.json
obj/Debug/net7.0/rjsmrazor.dswa.cache.json
obj/Debug/net7.0/rpswa.dswa.cache.json
obj/Debug/net7.0/staticwebassets.build.endpoints.json
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/staticwebassets.build.json.cache
obj/Debug/net7.0/staticwebassets.development.json
obj/Debug/net7.0/staticwebassets.pack.json
obj/Debug/net7.0/staticwebassets.references.upToDateCheck.txt
obj/Debug/net7.0/staticwebassets.removed.txt
obj/Debug/net7.0/staticwebassets.upToDateCheck.txt
obj/Debug/net7.0/Telegram-Apps.Blazor.AssemblyInfo.cs
obj/Debug/net7.0/Telegram-Apps.Blazor.AssemblyInfoInputs.cache
obj/Debug/net7.0/Telegram-Apps.Blazor.assets.cache
obj/Debug/net7.0/Telegram-Apps.Blazor.csproj.AssemblyReference.cache
obj/Debug/net7.0/Telegram-Apps.Blazor.csproj.BuildWithSkipAnalyzers
obj/Debug/net7.0/Telegram-Apps.Blazor.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Telegram-Apps.Blazor.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Telegram-Apps.Blazor.dll
obj/Debug/net7.0/Telegram-Apps.Blazor.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Telegram-Apps.Blazor.GlobalUsings.g.cs
obj/Debug/net7.0/Telegram-Apps.Blazor.pdb
obj/Debug/net7.0/ref/Telegram-Apps.Blazor.dll
obj/Debug/net7.0/refint/Telegram-Apps.Blazor.dll
obj/Debug/net7.0/staticwebassets/msbuild.build.Telegram-Apps.Blazor.props
obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Telegram-Apps.Blazor.props
obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Telegram-Apps.Blazor.props
obj/Debug/net7.0/staticwebassets/msbuild.Telegram-Apps.Blazor.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
obj/Debug/net7.0/staticwebassets/msbuild.Telegram-Apps.Blazor.Microsoft.AspNetCore.StaticWebAssets.props
CHANGELOG.md
/obj/Debug/net7.0
